* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  height: 100%;
  width: 100%;
}

textarea {
  width: 100%;
  height: 100%;
  resize: none;
  border-radius: 0.5rem;
  background: black;
  color: white;
  padding: 0.5rem 1rem;
}

iframe {
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
}

.folder {
  cursor: pointer;
  font-weight: bold;
}

.file {
  cursor: pointer;
  color: gray;
}

.hidden {
  display: none;
}

li {
  list-style: none;
}

.icon{
  padding-right: 5px;
}

.search-box {
  position: relative;
}

#search-input {
  display: none;
  position: absolute;
  top: 5px;
  right: 160px; /* Adjust the right value to provide space for buttons */
  z-index: 1;
  width: 150px; /* Adjust the width as needed */
}

#search-next{
  display: none;
  position: absolute;
  top: 5px;
  right: 6.5rem; /* Adjust the right value to position next to the input box */
  z-index: 1;
  width: auto;
  padding: 5px 10px; /* Add padding for better visibility */
}
#search-previous {
  display: none;
  position: absolute;
  top: 5px;
  right: 30px; /* Adjust the right value to position next to the input box */
  z-index: 1;
  width: auto;
  padding: 5px 10px; /* Add padding for better visibility */
}
#scrollToTopBtn {
  position: absolute;
  bottom: -18rem; /* Adjust the distance from the bottom as needed */
  right: 23px; /* Adjust the distance from the right as needed */
  z-index: 1;
  background-color: #007bff; /* Button background color */
  color: #fff; /* Button text color */
  border: none;
  padding: 10px 15px; /* Adjust padding as needed */
  cursor: pointer;
  border-radius: 5px;
}

#scrollToTopBtn:hover {
  background-color: #0056b3; /* Button background color on hover */
}

#close-search{
  display: none;
  position: absolute;
  top: 5px;
  right: 5px; /* Adjust the right value to position next to the input box */
  z-index: 1;
  width: auto;
  padding: 5px 10px; /* Add padding for better visibility */
}

 #contextMenu {
  display: none;
  border: 1px solid red;
  position: absolute;
  margin-bottom: 5px;
}

#contextMenu button {
  display: block;
  width: 100%;
  text-align: left;
  padding: 5px;
}

.active-folder {
  background-color: #feeded; /* Set your desired background color for active folders */
}

.active-file {
  font-weight: bold; /* Set your desired style for active files */
  color: #007bff; /* Set your desired color for active files */
  /* background-color: rgb(244, 233, 233); */
}

